{% extends "base.html" %}

{% block main %}    
    <!--====== Page Banner Start ======-->

    <section class="page-banner">
        <div class="page-banner-bg bg_cover" style="background-image: url({{url_for ('static', filename='images/page-banner.webp')}});">
            <div class="container">
                <div class="banner-content text-center">
                    <h2 class="title">Rasmlar</h2>
                </div>
            </div>
        </div>
    </section>

    <!--====== Page Banner Ends ======-->

    <!--====== Gallery Start ======-->

    <div class="gallery-page pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="single-gallery mt-30">
                        <a class="image-popup" href="{{url_for ('static', filename='images/gallery/gallery-01.webp')}}">
                            <img src="{{url_for ('static', filename='images/gallery/gallery-01.webp')}}" width="371" height="257" alt="gallery">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-gallery mt-30">
                        <a class="image-popup" href="{{url_for ('static', filename='images/gallery/gallery-02.webp')}}">
                            <img src="{{url_for ('static', filename='images/gallery/gallery-02.webp')}}" width="371" height="257" alt="gallery">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-gallery mt-30">
                        <a class="image-popup" href="{{url_for ('static', filename='images/gallery/gallery-03.webp')}}">
                            <img src="{{url_for ('static', filename='images/gallery/gallery-03.webp')}}" width="371" height="257" alt="gallery">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-gallery mt-30">
                        <a class="image-popup" href="{{url_for ('static', filename='images/gallery/gallery-04.webp')}}">
                            <img src="{{url_for ('static', filename='images/gallery/gallery-04.webp')}}" width="371" height="257" alt="gallery">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-gallery mt-30">
                        <a class="image-popup" href="{{url_for ('static', filename='images/gallery/gallery-05.webp')}}">
                            <img src="{{url_for ('static', filename='images/gallery/gallery-05.webp')}}" width="371" height="257" alt="gallery">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-gallery mt-30">
                        <a class="image-popup" href="{{url_for ('static', filename='images/gallery/gallery-06.webp')}}">
                            <img src="{{url_for ('static', filename='images/gallery/gallery-06.webp')}}" width="371" height="257" alt="gallery">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-gallery mt-30">
                        <a class="image-popup" href="{{url_for ('static', filename='images/gallery/gallery-07.webp')}}">
                            <img src="{{url_for ('static', filename='images/gallery/gallery-07.webp')}}" width="371" height="257" alt="gallery">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-gallery mt-30">
                        <a class="image-popup" href="{{url_for ('static', filename='images/gallery/gallery-08.webp')}}">
                            <img src="{{url_for ('static', filename='images/gallery/gallery-08.webp')}}" width="371" height="257" alt="gallery">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-gallery mt-30">
                        <a class="image-popup" href="{{url_for ('static', filename='images/gallery/gallery-09.webp')}}">
                            <img src="{{url_for ('static', filename='images/gallery/gallery-09.webp')}}" width="371" height="257" alt="gallery">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-gallery mt-30">
                        <a class="image-popup" href="{{url_for ('static', filename='images/gallery/gallery-10.webp')}}">
                            <img src="{{url_for ('static', filename='images/gallery/gallery-10.webp')}}" width="371" height="257" alt="gallery">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-gallery mt-30">
                        <a class="image-popup" href="{{url_for ('static', filename='images/gallery/gallery-11.webp')}}">
                            <img src="{{url_for ('static', filename='images/gallery/gallery-11.webp')}}" width="371" height="257" alt="gallery">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-gallery mt-30">
                        <a class="image-popup" href="{{url_for ('static', filename='images/gallery/gallery-12.webp')}}">
                            <img src="{{url_for ('static', filename='images/gallery/gallery-12.webp')}}" width="371" height="257" alt="gallery">
                        </a>
                    </div>
                </div>
            </div>
              </div>
    </div>

    <!--====== Gallery Ends ======-->
{% endblock %}
    